{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="d-flex flex-column gap-4 m-4">
        <h3>Admin</h3>

        <div class="d-flex flex-column gap-4">
        {% for user in users %}
            <div class="d-flex justify-content-around border rounded p-3">
                <div>{{ user.email }}</div>
                <div>{{ user.roles[0] }}</div>
                <a href="profile/edit/{{ user.id }}">Edit</a>
            </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}
